.as-content-wrapper {
  background: #CCCC;
  width: 400px;
  height: 565px;
  margin: 0 auto;
  padding: 12px;

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}