.as-d-none {
  display: none !important;
}

.as-d-inline {
  display: inline !important;
}

.as-d-inline-block {
  display: inline-block !important;
}

.as-d-block {
  display: block !important;
}

.as-d-table {
  display: table !important;
}

.as-d-table-row {
  display: table-row !important;
}

.as-d-table-cell {
  display: table-cell !important;
}

.as-d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.as-d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .as-d-sm-none {
    display: none !important;
  }

  .as-d-sm-inline {
    display: inline !important;
  }

  .as-d-sm-inline-block {
    display: inline-block !important;
  }

  .as-d-sm-block {
    display: block !important;
  }

  .as-d-sm-table {
    display: table !important;
  }

  .as-d-sm-table-row {
    display: table-row !important;
  }

  .as-d-sm-table-cell {
    display: table-cell !important;
  }

  .as-d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .as-d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .as-d-md-none {
    display: none !important;
  }

  .as-d-md-inline {
    display: inline !important;
  }

  .as-d-md-inline-block {
    display: inline-block !important;
  }

  .as-d-md-block {
    display: block !important;
  }

  .as-d-md-table {
    display: table !important;
  }

  .as-d-md-table-row {
    display: table-row !important;
  }

  .as-d-md-table-cell {
    display: table-cell !important;
  }

  .as-d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }


  .as-d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .as-d-lg-none {
    display: none !important;
  }

  .as-d-lg-inline {
    display: inline !important;
  }

  .as-d-lg-inline-block {
    display: inline-block !important;
  }

  .as-d-lg-block {
    display: block !important;
  }

  .as-d-lg-table {
    display: table !important;
  }

  .as-d-lg-table-row {
    display: table-row !important;
  }

  .as-d-lg-table-cell {
    display: table-cell !important;
  }

  .as-d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .as-d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .as-d-xl-none {
    display: none !important;
  }

  .as-d-xl-inline {
    display: inline !important;
  }

  .as-d-xl-inline-block {
    display: inline-block !important;
  }

  .as-d-xl-block {
    display: block !important;
  }

  .as-d-xl-table {
    display: table !important;
  }

  .as-d-xl-table-row {
    display: table-row !important;
  }

  .as-d-xl-table-cell {
    display: table-cell !important;
  }

  .as-d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .as-d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}